* {
    box-sizing: border-box;
    color: black;
    font-family: 'Oswald', 'Optima', "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.topnav{
/* Rectangle 42 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #1A202C;
}

.imglaptop {
/* Ellipse 8 */
position: absolute;
left: 17.41%;
right: 22.47%;
top: 7.81%;
bottom: 74.61%;

background: url(.jpg);
border: 2px solid #FFFFFF;
box-sizing: border-box;
}

.menu {
    background-color:rgb(26, 21, 17);
    overflow: hidden;
    border-radius: 6px;
}

.menu a {
    float: inline-end;
    color: white;
}

.acceuil{
/* à propos de moi */

left: 27.53%;
right: 12.97%;
top: 41.5%;
bottom: 55.27%;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #FFFFFF;
}


.competences {
position: fixed;
left: 27.53%;
right: 22.47%;
top: 48.05%;
bottom: 48.73%;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

color: #FFFFFF;
}

.metier {
/* Compétences métier */
position: absolute;
left: 24.37%;
right: 18.35%;
top: 53.03%;
bottom: 44.53%;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;
}

.technologiques {
/* Compétences technologiques */
position: absolute;
left: 24.37%;
right: 33.23%;
top: 57.52%;
bottom: 37.6%;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.humaines{
/* Compétences humaines */
position: absolute;
left: 24.37%;
right: 36.71%;
top: 63.87%;
bottom: 31.25%;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.portfolio{
/* Portfolio */
position: absolute;
left: 27.53%;
right: 40.51%;
top: 71.19%;
bottom: 25.59%;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #FFFFFF;
}


.contact{
/* Contact */
position: absolute;
left: 27.53%;
right: 43.99%;
top: 76.66%;
bottom: 20.12%;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #FFFFFF;
}